.wrapper {
	margin: 50px;
	display: grid;
	grid-template-columns: repeat(4, minmax(20vw, 1fr));
	grid-template-rows: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 30px;
}

.mainFlex {
	width: 100%;
	display: flex;
	gap: 20px;
	margin: 20px;
	margin-top: 50px;
}
@media (max-width: 1460px) {
	.wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 1060px) {
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}
